@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Work+Sans:300,400,700,900");
@font-face {
    font-family: Burbank Big Condensed Bold;
    src: url(../font/burbank-big-condensed-bold.otf);
}

html{
    height: 100%;
}

* {
    font-size: 0;
    outline-width: 0;
    font-family: 'Montserrat';
}

body {
    margin: 0;
    font-size: 100%;
    line-height: 100%;
    /* min-height: 100%; */
    /* background-color: #2a2a2a; */
    background-color: #0e0e10;
    position: relative;
    transition: all 1s;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}


/* Main */
main {
    margin-top: 5vh;
    margin-bottom: 5vh;
    z-index: 2;
    height: 100%;
}

/* Bloco de Dados do Campeonato */
.blocoDeDadosDoCampeonato{
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 10vh;
    margin-right: 10vh;
}

.imgJogo{
    width: 100%;
    margin-bottom: 5vh;
    text-align: center;
}
.imgJogo input{
    height: 40vh;
}
.imgJogo input:hover{
    filter: brightness(50%);
}

.blocoDoInput{
    margin-bottom: 5vh;
}
.blocoDoInput p{
    font-size: 3vh;
    color: white;
    margin-bottom: 3vh;
}

.campoInput{
    padding: 1vh;
    background: #2C2F33;
    border-radius: 1vh;
    font-weight: bold;
    width: 70%;
}

.campoInput input{
    background: transparent;
    border: none;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    color: #fff;
    font-size: 2vh;
    margin: 0;
    line-height: 3vh;
    vertical-align: top;
    font-weight: bold;
    height: 5vh;
    width: 100%;
}
.campoInput input:focus{
    box-shadow: inset 0 -2px 0 #fff;
}

#campType .campoInput{
    width: 30%;
}
#maxPlayer .campoInput{
    width: 3%;
}
.limiteDataInscrições .campoInput{
    width: 10%;
}
#horarioInscrições .campoInput{
    width: 10%;
}
.dinheiro .campoInput{
    width: 5%;
}


/* Botão */
.botaoAdicionarCampeonatoDiv{
    text-align: center;
}
.botaoAdicionarCampeonato{
    text-transform: uppercase;
    padding: 0;
    border: 0px;
    border-radius: 1vh;
    color: white;
    margin: 0;
    margin-top: 3vh;
    width: 40%;
    height: 7vh;
    clip-path: polygon(8% 0,100% 0,93% 93%,0 100%);
    background: #2C2F33;
}

.botaoAdicionarCampeonato *{
    transition: all .3s ease-in-out;
}

.botaoAdicionarCampeonato:hover{
    cursor: pointer;
}
.botaoAdicionarCampeonato:hover span{
    margin-left: 15px;
}

.botaoAdicionarCampeonato:active {
    border-style: none;
    outline: none;
}

.botaoAdicionarCampeonato:focus{
    outline: none;
}

.botaoAdicionarCampeonato span{
    font-size: 3vh;
    line-height: 100%;
}

#adicionarCampeonato:hover{
    background-color: #618b25;
}

#excluirCampeonato:hover{
    background-color: #F13030;
}


/* Mobile */
@media (max-width: 1650px) {}

@media (max-width: 1080px) {
}

@media (max-height: 1600px) {}