@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Work+Sans:300,400,700,900");
@font-face {
    font-family: Burbank Big Condensed Bold;
    src: url(../font/burbank-big-condensed-bold.otf);
}

html{
    height: 100%;
}

* {
    font-size: 0;
    outline-width: 0;
    font-family: 'Montserrat';
}

body {
    margin: 0;
    font-size: 100%;
    line-height: 100%;
    /* min-height: 100%; */
    /* background-color: #2a2a2a; */
    background-color: #0e0e10;
    position: relative;
    transition: all 1s;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}


/* Main */
main {
    margin-top: 5vh;
    margin-bottom: 5vh;
    z-index: 2;
    height: 100%;
}

/* Bloco de Dados dos Participantes */
.blocoDeDadosDosParticipantes{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

table {
    border-collapse: collapse;
    width: 80%;
    max-width: 100%;
    margin: auto;
    background: #2C2F33;
    color: white;
  }

th{
    background: #18181b;
    text-align: center !important;
}
th, td {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1vh;
    padding-right: 1vh;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.15);
    font-size: 1.5vh;
    line-height: 100%;      
    text-overflow: ellipsis;
    table-layout: fixed
}

tr:nth-child(even) {
    background-color: #4c5050;
}
  
tr:hover {
    background-color:black;
    color: white;
}

.estadoDoUsuario{
    text-align: center;
}
.estadoDoUsuario i::before{
    font-size: 2.5vh;
}
.inscrito::before{
    color: rgb(12, 185, 12);
}
.aguardo::before{
    color: rgb(231, 231, 1);
}


.comprovanteDoUsuario{
    text-align: center;
}
.comprovanteDoUsuario i::before{
    font-size: 2.5vh;
    cursor: pointer;
}


.botoesUsuario{
    text-align: center;
}
.botoesUsuario i::before{
    margin: auto;
    font-size: 2.5vh;
    cursor: pointer;
}
.add::before{
    color: rgb(12, 185, 12);
}
.exclude::before{
    color: rgb(238, 27, 27);
}


/* Mobile */
@media (max-width: 1650px) {}

@media (max-width: 1080px) {
}

@media (max-height: 1600px) {}