@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Work+Sans:300,400,700,900");
@font-face {
    font-family: Burbank Big Condensed Bold;
    src: url(../font/burbank-big-condensed-bold.otf);
}

html{
    height: 100%;
}

* {
    font-size: 0;
    outline-width: 0;
    font-family: 'Montserrat';
}

body {
    margin: 0;
    font-size: 100%;
    line-height: 100%;
    /* min-height: 100%; */
    /* background-color: #2a2a2a; */
    background-color: #0e0e10;
    position: relative;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

/* Main */
main {
    margin-top: 5vh;
    z-index: 2;
    height: 95vh;
}

/* Campeonatos */
.campeonato{
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8vh;
}

.tituloCampeonato{
    width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: 0.5vh;
    color: white;
    text-transform: uppercase;
}
.tituloCampeonato h2{
    font-size: 3vh;
    color: white;
    text-transform: uppercase;
    line-height: 100%;
}

.imagemCampeonato{
    margin-top: 1vh;
    text-align: center;
}

.imagemCampeonato img{
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.75);
}

.conteudoCampeonato{
    margin-top: 3vh;
    height: 100%;
    display: grid;
    grid-template-areas: "menu"
                         "conteudo";
    grid-template-columns: 100%;
    grid-template-rows: 2% 98% ;
}

.conteudoCampeonato .menu{
    grid-area: menu;
    text-align: center;
}
.conteudoCampeonato .menu ul{
    display: flex;
    text-align: center;
    padding: 0;
}
.conteudoCampeonato .menuLinks{
    font-size: 2.3vh;
    margin-top: 0.1vh;
    color: white;
    list-style: none;
    margin-right: 1em;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 1vh;
}
.conteudoCampeonato .menuLinks:hover{
    cursor: pointer;
    border-bottom: 1px solid white;
}
.conteudoCampeonato .menuLinks.ativo{
    border-bottom: 1px solid white;
}

.conteudoCampeonato .conteudo{
    grid-area: conteudo;
}

.conteudoPaginas{
    display: none;
}
.conteudo .informacoes{
    display: block;
}

.conteudoTexto p{
    color: white;
    font-size: 16px;
    line-height: 100%;
}

.valoresCampeonato{
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
}
.valoresCampeonato span{
    font-size: 20px;
    color: #A7C957;
    margin-bottom: 0;
    font-weight: bold;
}
.valoresCampeonato h3{
    color: white;
    font-size: 20px;
    margin-right: 15px;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
  }

th{
    background: #18181b;
    text-align: center !important;
}
th, td {
    padding: 3vh;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    font-size: 2vh;
    white-space: nowrap;                 
    overflow: hidden;              
    text-overflow:    ellipsis;
    text-align: center !important;
}

/* tr:nth-child(even) {
    background-color: #4c5050;
} */
  
tr:hover {
    background-color:black;
    color: white;
}



/* Botão */
.inscreverseDiv{
    text-align: center;
}
.botaoInscreverse{
    text-transform: uppercase;
    padding: 0;
    border: 0px;
    border-radius: 1vh;
    margin: 0;
    margin-top: 3vh;
    width: 40%;
    height: 5.5vh;
    clip-path: polygon(8% 0,100% 0,93% 93%,0 100%);
    background: #fafafa;
}

.botaoInscreverse *{
    transition: all .3s ease-in-out;
}

.botaoInscreverse:hover{
    cursor: pointer;
}
.botaoInscreverse:hover span{
    margin-left: 15px;
}

.botaoInscreverse:active {
    border-style: none;
    outline: none;
}

.botaoInscreverse:focus{
    outline: none;
}

.botaoInscreverse span{
    font-size: 3vh;
    line-height: 100%;
    color: #2C2F33;
}



/* Mobile */

@media (max-width: 1650px) {}

@media (max-width: 1080px) {
    .campeonato{
        padding-top: 1vh;
        width: 100%;
        text-align: center;
    }

    .menu .menuLinks{
        font-size: 1.9vh;
    }
    .valoresCampeonato{
        display: block;
    }
    .valoresCampeonato h3, .valoresCampeonato span{
        font-size: 1.8vh;
    }
    .botaoInscreverse{
        width: 70%;
        height: 4vh;
    }
    .botaoInscreverse span{
        font-size: 2.5vh;
    }
}

@media (max-height: 1600px) {}