.errorMsg{
    background: rgba(195, 60, 60, 0.5);
    border: 3px solid rgba(195, 60, 60, 0.6);
    position: fixed;
    text-align: center;
    width: 50%;
    top: 5vh;
    left: 25%;
    z-index: 998;
}
.errorMsg p{
    padding: 20px;
    font-size: 20px;
    color: rgba(195, 60, 60, 0.75);
}

a{
    color: rgba(195, 60, 60, 1); 
    font-weight: bold;
}

@media (max-width: 1080px){
    .errorMsg{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        left: 0;
        
    }
    .errorMsg p{
        font-size: 32px;
    }
}