@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Work+Sans:300,400,700,900");
@font-face {
    font-family: Burbank Big Condensed Bold;
    src: url(../font/burbank-big-condensed-bold.otf);
}

* {
    font-size: 0;
    outline-width: 0;
    font-family: 'Montserrat';
}

body {
    margin: 0;
    font-size: 100%;
    line-height: 100%;
    min-height: 100%;
    /* background-color: #2a2a2a; */
    background-color: #0e0e10;
    position: relative;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}





#csgo {
    background: url(../img/csgo.jpg) no-repeat center / cover;
}

#fortnite {
    background: url(../img/fortnite.jpg) no-repeat center / cover;
}

#freefire {
    background: url(../img/freefire.jpg) no-repeat center / cover;
}

#fifa {
    background: url(../img/fifa.jpg) no-repeat center / cover;
}

#lol {
    background: url(../img/lol.jpg) no-repeat center / cover;
}

#rocketleague {
    background: url(../img/rocketleague.jpg) no-repeat center / cover;
}



/* Main */

main {
    margin-top: 5vh;
    z-index: 2;
}

/* imagemDiv */

.imagemDiv {
    z-index: 2;
    width: 100vw;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.fundo {
    margin-top: 0;
    top: 0%;
    height: 100%;
    width: 100%;
    background-color: black;
    text-align: center;
    z-index: 0;
    font-size: 0;
}

.fundoJogo {
    height: 100%;
    /* width: 33.33%;
    display: inline-block; */
    transition: all 1s;
    opacity: 25%;
    z-index: 0;
}



.divTituloBotao{
    position: absolute;
    bottom: 2vh;
    width: 100%;
    text-align: center;
}

.divTituloBotao *{
    text-align: center;
    font-family: 'Burbank Big Condensed Bold';
}

.tituloCampeonato h1{
    font-size: 8vw;
    color: white;
    margin-bottom: 12vh;
    line-height: 100%;
}

.botaoInscricao{
    text-transform: uppercase;
    padding: 0;
    border: 0px;
    border-radius: 1vh;
    background: #fff;
    color: black;
    margin: 0;
    width: 25%;
    height: 8vh;
    clip-path: polygon(8% 0,100% 0,93% 93%,0 100%);
    transition: all .3s ease-in-out;
    text-align: center;
}

.botaoInscricao *{
    transition: all .3s ease-in-out;
}

.botaoInscricao:hover{
    cursor: pointer;
}
.botaoInscricao:hover span{
    margin-left: 15px;
}

.botaoInscricao:active {
    border-style: none;
    outline: none;
}

.botaoInscricao:focus{
    outline: none;
}

.botaoInscricao span{
    font-size: 6vh;
    line-height: 100%;
}


/* Sobre */
.sobreDiv{
    height: 35vh;
    width: 100%;
    background: black;
    color: white;
    text-align: center;
}

.sobreTituloDiv .sobreTitulo{
    padding-top: 10vh;
    margin: 0;
    font-size: 7vh;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Burbank Big Condensed Bold';
    font-weight: bold;
}

.sobreDiv .sobreTexto{
    margin: 0;
    margin-top: 5vh;
    font-size: 2vh;
    width: 40%;
    line-height: 100%;
    margin-left: auto;
    margin-right: auto;
}



/* Footer */
footer{
    z-index: 2;
    background: #18181b;
    position: absolute;
    width: 100%;
    height: 20vh;
    bottom: 0;
}


/* Mobile */

@media (max-width: 1650px) {}

@media (max-width: 1080px) {
    #fifa {
        background: url(../img/fifamobile.jpg) no-repeat center / cover;
    }
}

@media (max-height: 1600px) {}