@font-face {
    font-family: Burbank Big Condensed Bold;
    src: url(../font/burbank-big-condensed-bold.otf);
}



body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 100%;
    min-height: 100%;
    background: black;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 0;
}

img{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: white;
}

/* Header */
header{
    top: 0;
    height: auto;
    width: 100%;
    background: black;
    position: fixed;
    z-index: 999;
    font-size: 0;
}

.icones{
    width: auto;
    height: 4.5vh;
}
.icones::before{
    font-size: 4.5vh;
    color: white;
}
.icones:hover{
    cursor: pointer;
    transform: scale(1.2);
}

/* Return */
.voltar{
    position: absolute;
    top: 20%;
    left: 1%;
}
.return{
    display: none;
}


/* Título */
.titulo{
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: 5vh;
    font-family: 'Burbank Big Condensed Bold';
    line-height: 100%;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    transition: all 1s;
}


/* Redes Sociais */
.redesSociais{
    position: absolute;
    top: 20%;
    right: 1%;
}
/* .redesSociais .fa-discord::before{
    color: #7289dc;
}
.redesSociais .fa-twitch::before{
    color:#9146ff;
}
.redesSociais .fa-whatsapp::before{
    color: #2bb201;
    font-size: 53px;
} */
/* .redesSociais .fa-instagram-square::before{
    color: #44274c;
} */
.redesSociais .fa-whatsapp::before, .fa-instagram::before{
    font-size: 5vh;
}
.redesSociais *{
    margin-right: 0.2vh;
}

/* Barra */
.barra{
    position: absolute;
    top: 20%;
    right: 2%;
    display: none;
}


/* Main */
main{
    position: absolute;
    margin-top: 0;
    top: 8vh;
    height: 92%;
    width: 100%;
    background-color: black;
    font-size: 0;
    scroll-behavior: smooth;
}

/* Conteúdo da Barra */
.conteudoBarra{
    right: 0;
    top: -1%;
    z-index: 1001;
    position: absolute;
    width: 30%;
    height: 101%;
    background: black;
    opacity: 90%;
    display: none;
}

.fecharBarra{
    position: absolute;
    top: 1%;
    left: 2%;
    color: white;
}
.fecharBarra::before{
    font-size: 3vh;
}
.fecharBarra:hover{
    cursor: pointer;
}

.redesSociaisBarra{
    position: absolute;
    top: 6%;
    width: 100%;
    text-align: center;
    font-size: 3vw;
}
.siganosBarra{
    font-size: 6vh;
    color: white;
    font-family: 'Burbank Big Condensed Bold';
    line-height: 100%;
}
.iconesRedesSociaisBarra i::before{
    font-size: 8vh;
}



/* Jogos */
.bloco{
    display: inline-block;
    width: 33.3%;
    height: 49.9%;
    margin: 0;
    transition: all 1s;
    border-radius: 0.5vh;
    text-align: center;
    color: white;
    position: relative;
}

.blocoImgDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

.textJogo{
    display: block;
    transition: all 1s;
    width: auto;
    max-width: 100%;
    height: 40%;
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

.bloco:hover{
    cursor: pointer;
    /* -webkit-box-shadow:inset 0px 0px 0px 0.1vh #f6f6f6;
    -moz-box-shadow:inset 0px 0px 0px 0.1vh #f6f6f6;
    box-shadow:inset 0px 0px 0px 0.1vh #f6f6f6; */
}
.bloco:hover .textJogo{
    transform: scale(1.2);
}



.textBloco{
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    background: rgba(0,0,0,0.5);
    position: relative;
    font-family: 'Burbank Big Condensed Bold';
    display: none;
}

.infoBloco{
    position: absolute;
    height: 100%;
    width: 100%;
}

.dataBloco{
    font-size: 6vh;
    margin: 0;
    margin-top: 3vh;
}
.ladosBloco{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 1.5vh;
    margin-right: 1.5vh;
}

.ladosBloco h2{
    margin: 2vh;
    font-size: 5vh;
}

.ladosBloco p{
    margin: 0;
    font-size: 7vh;
    line-height: 100%;
    text-shadow: 0 0 40px rgba(0,231,255,.8), 0 5px 8px rgba(0,231,255,.3);
}

.divBotaoInscricao{
    position: absolute;
    bottom: 10vh;
    width: 100%;
}
.botaoInscricao{
    text-transform: uppercase;
    padding: 0;
    border: 0px;
    border-radius: 1vh;
    background: #ff0;
    color: black;
    font-size: 6vh;
    font-family: 'Burbank Big Condensed Bold';
    margin: 0;
    width: 60%;
    height: 10vh;
    clip-path: polygon(8% 0,100% 0,93% 93%,0 100%);
    transition: all .3s ease-in-out;
}

.botaoInscricao *{
    transition: all .3s ease-in-out;
}

.botaoInscricao:hover{
    cursor: pointer;
}
.botaoInscricao:hover span{
    margin-left: 15px;
}

.botaoInscricao:active {
    border-style: none;
    outline: none;
}

.botaoInscricao:focus{
    outline: none;
}


#csgo{
    background: url(../img/csgo.jpg) no-repeat center / cover;
}
#fortnite{
    background: url(../img/fortnite.jpg) no-repeat center / cover;
}
#freefire{
    background: url(../img/freefire.jpg) no-repeat center / cover;
}
#fifa{
    background: url(../img/fifa.jpg) no-repeat center / cover;
}
#lol{
    background: url(../img/lol.jpg) no-repeat center / cover;
}
#rocketleague{
    background: url(../img/rocketleague.jpg) no-repeat center / cover;
}

.naoDisponivel{
    opacity: 25%;
    filter: blur(0.1vh);
    -webkit-filter: blur(0.1vh);
}

/* Section */
/* section{
    margin-top: 2vh;
    scroll-behavior: smooth;
}

.jogoBloco{
    font-family: 'Burbank Big Condensed Bold';
    color: white;
    height: 92vh;
    position: relative;
    scroll-behavior: smooth;
}


#fortniteBloco{
    background: rgba(0, 0, 0, 0.3) url(../img/fundoFortniteBloco.jpg) no-repeat center / cover;
}

.conteudoFortnite{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.textBloco{
    position: absolute;
    left: 0vh;
    width: 100%;
    top: 10vh;
    text-align: center;
    text-transform: uppercase;
}

.ladosBloco{
    display: inline-block;
    margin: 5vh;
    margin-top: 0;
    margin-bottom: 0;
}


.textBloco h2{
    font-size: 5vh;
}

.textBloco p{
    margin: 0;
    font-size: 9vh;
    line-height: 100%;
    text-shadow: 0 0 40px rgba(0,231,255,.8), 0 5px 8px rgba(0,231,255,.3);
}

.divBotaoInscricao{
    margin-top: 1vh;
}
.botaoInscricao{
    text-transform: uppercase;
    padding: 0;
    border: 0px;
    border-radius: 1vh;
    background: #ff0;
    color: black;
    font-size: 6vh;
    font-family: 'Burbank Big Condensed Bold';
    margin: 0;
    width: 40vh;
    height: 12vh;
    clip-path: polygon(8% 0,100% 0,93% 93%,0 100%);
    transition: all .3s ease-in-out;
}

.botaoInscricao *{
    transition: all .3s ease-in-out;
}

.botaoInscricao:hover{
    cursor: pointer;
}
.botaoInscricao:hover span{
    margin-left: 15px;
}

.botaoInscricao:active {
    border-style: none;
    outline: none;
}

.botaoInscricao:focus{
    outline: none;
}


.imagemBlocoFortnite{
    position: absolute;
    bottom: 0;
    right: 0;

}
.imagemBlocoFortnite img{
    width: auto;
    height: 45vh;
} */






/* Pagamento */
/* .pagamento{
    background-color:rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    color: white;
    text-align: center;
}

.pagamentoTopo{
    width: 100%;
    height: 8%;
}



.pagamentoData{
    font-size: 7vh;
    line-height: 100%;
    color: white;
    text-align: center;
    font-family: 'Burbank Big Condensed Bold';
    transition: all 1s;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0;
    margin-top: 3vh;
}

.pagamentoTitulo{
    font-size: 7vh;
    line-height: 100%;
    color: white;
    text-align: center;
    font-family: 'Burbank Big Condensed Bold';
    transition: all 1s;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0;
    margin-top: 3vh;
    display: none;
}
.pagamentoCorpo{
    margin: 2vh;
    margin-top: 7vh;
    font-size: 5vh;
}

.pagamentoInicio p{
    line-height: 100%;
    font-family: 'Burbank Big Condensed Bold';
    text-transform: uppercase;
}

.pagamentoPremio{
    font-size: 8vh;
    margin: 0;
}

.pagamentoInscricao{
    font-size: 8vh;
    margin: 0;
}

.pagamentoInfo{
    margin-top: 8vh;
    font-size: 5vh;
    display: none;
}

.pagamentoInscricao{
    font-size: 8vh;
}

#botaoPagar{
    text-transform: uppercase;
    padding: 0;
    border-color: white;
    background: white;
    z-index: 1000;
    color: black;
    font-size: 6vh;
    font-family: 'Burbank Big Condensed Bold';
    margin: 0;
    margin-top: 2vh;
    width: 40vh;
    height: 13vh;
}

#botaoPagar:hover{
    cursor: pointer;
    background: black;
    color: white;
    outline: -webkit-focus-ring-color auto 1px;
}

.opcoesPagamento{
    display: none;
}

.pagamentoOpcao{
    vertical-align: center;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin-top: 2vh;
    margin-left: 3vh;
    margin-right: 3vh;
}
.pagamentoOpcao:hover{
    box-shadow: inset 0 -5px 0 #f6f6f6;
    cursor: pointer;
}

.bancoLogo{
    height: 20vh;
    vertical-align: middle;
    transition: all 1s;
}
.pagamentoOpcao p{
    margin: 0;
    font-size: 5vh;
    line-height: 100%;
    font-family: 'Burbank Big Condensed Bold';
    margin-top: 1vh;
    text-transform: uppercase;
}

.pagamentos{
    display: none;
    font-family: 'Burbank Big Condensed Bold';
    color: white;
    line-height: 100%;
}

.qrcodePagamento{
    width: 30vh;
    padding: 1vh;
    background: white;
    border: 1vh solid black;
}

.bancoNomeCliente{
    font-size: 6vh;
    line-height: 100%;
    margin: 0;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.informacoesPagamento{
    font-size: 4vh;
    line-height: 100%;
}
.informacoesPagamento p{
    margin: 0;
    margin-top: 1vh;
}


.picPayBotao{
    text-transform: uppercase;
    padding: 0;
    border: 0px;
    border-radius: 1vh;
    background: #21c25e;
    z-index: 1000;
    color: white;
    font-size: 6vh;
    font-family: 'Burbank Big Condensed Bold';
    margin: 0;
    margin-top: 4vh;
    width: 45vh;
    height: 13vh;
}

.picPayBotao:hover{
    cursor: pointer;
    background: #0b9854;
    color: white;
}

.picPayBotao:active {
    border-style: none;
    outline: none;
}

.picPayBotao:focus{
    outline: none;
} */




/* Mensagem de Erro */
.mensagem{
    font-family: 'Burbank Big Condensed Bold';
    color: black;
    font-size: 6vh;
    bottom: 20px;
    right: 20px;
    position: fixed;
    background: #f6f6f6;
    width: 20%;
    min-height: 15%;
    border-radius: 5px;
    text-align: center;
    display: none;
}

.textoMensagem{
    margin-left: 5%;
    margin-right: 5%;
    line-height: 100%;
}

.progress {
    background: rgba(255,255,255,0.1);
    align-items: center;
    position: absolute;
    height: 5%;
    width: 100%;
    bottom: 0;
}
  
.progress-value {
    animation: load 6s normal forwards;
    box-shadow: 0 10px 40px -10px white;
    background: black;
    height: 100%;
    width: 0;
}

@keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
}



/* Mobile */
@media (max-width: 1650px ){
    .textJogo{
        height: 5vh;
        width: auto;
        margin-top: 0%;
    } 
    
}
@media (max-width: 1080px ){
    .redesSociais{
        display: none;
    }
    .barra{
        display: inline-block;
    }
    .conteudoBarra{
        width: 80%;
    }
    .bloco:hover .textJogo{
        transform: scale(1.05);
    }
    #fifa{
        background: url(../img/fifamobile.jpg) no-repeat center / cover;
    }

    /* .textBloco{
        left: 0vh;
        width: 100%;
    }
    .ladosBloco{
        display: block;
    }
    .imagemBlocoFortnite{
        display: none;
    } */

    
    /* .bancoLogo{
        height: 10vh;
    } */

    .mensagem{
        top: 25%;
        left: 20%;
        right: auto;
        min-width: 60%;
        height: 50%;
    }
    .progress{
        height: 2%;
    }
}
@media (max-height: 1600px){
}