@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Work+Sans:300,400,700,900");
@font-face {
    font-family: Burbank Big Condensed Bold;
    src: url(../font/burbank-big-condensed-bold.otf);
}

html{
    height: 100%;
}

* {
    font-size: 0;
    outline-width: 0;
    font-family: 'Montserrat';
}

body {
    margin: 0;
    font-size: 100%;
    line-height: 100%;
    /* min-height: 100%; */
    /* background-color: #2a2a2a; */
    background-color: #0e0e10;
    position: relative;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

/* Main */
main {
    margin-top: 5vh;
    z-index: 2;
}

/* Jogos */
.jogos{
    width: 106.225143769968vh;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8vh;
}

.tituloJogos{
    width: 99%;
    border-bottom: 1px solid white;
    margin: 0.5vh;
}
.tituloJogos h2{
    font-size: 4vh;
    color: white;
    text-transform: uppercase;
}

.jogo{
    display: inline-block;
    width: 34.34504792332268vh;
    height: 15.97444089456869vh;
    transition: all .5s;
    border-radius: 0.5vh;
    text-align: center;
    color: white;
    position: relative;
    z-index: 2;
    /* box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0.01vh solid white; */
    margin: 0.5vh;
}
.jogo:hover{
    box-shadow: 0 0 2vh 0.5vh rgba(255, 255, 255, 0.3);
    cursor: pointer;
}


/* Footer */
footer{
    z-index: 2;
    background: #18181b;
    position: absolute;
    width: 100%;
    height: 20vh;
    bottom: 0;
}


/* Mobile */

@media (max-width: 1650px) {}

@media (max-width: 1080px) {
    .jogos{
        padding-top: 1vh;
        width: 100%;
        text-align: center;
    }
}

@media (max-height: 1600px) {}