@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Work+Sans:300,400,700,900");
@font-face {
    font-family: Burbank Big Condensed Bold;
    src: url(../font/burbank-big-condensed-bold.otf);
}

html{
    height: 100%;
}

* {
    font-size: 0;
    outline-width: 0;
    font-family: 'Montserrat';
}

body {
    margin: 0;
    font-size: 100%;
    line-height: 100%;
    /* min-height: 100%; */
    /* background-color: #2a2a2a; */
    background-color: #0e0e10;
    position: relative;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}




/* Main */

main {
    z-index: 2;
}

.pagamentosBloco{
    height: 80vh;
    width: 80vh;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 1vh;
}
.fundoPagamento{
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 0 3000px rgba(40, 43, 48, 0.8);
}

/* Topo Pagamento */
.paginaPagamento1{
    padding-top: 2vh;
    color: white;
    text-align: center;
    position: relative;
    height: 100%;
}
.paginaPagamento1 .cart::before{
    font-size: 4vh;
    color: #A7C957;
}

.paginaPagamento1 .nomeInscricao{
    padding-top: 1vh;
}

.paginaPagamento1 .textoPrincipal{
    display: inline-block;
    margin-right: 1vh;
}
.paginaPagamento1 .textoPrincipal h2{
    font-size: 1.5vh;
    font-weight: bold;
    margin: 1vh;
}

.paginaPagamento1 .inscricao{
    display: inline-block;
}
.paginaPagamento1 .inscricao{
    color: #A7C957;
}
.paginaPagamento1 .inscricao p, .paginaPagamento1 .inscricao i::before, .paginaPagamento1 .inscricao span{
    display: inline-block;
    font-size: 1.5vh;
    font-weight: bold;
    margin: 0;
    margin-right: 0.5vh;
}

/* Conteudo Pagamento */
.conteudoOpcaoPagamento{
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.opcoesPagamento{
    width: 100%;
    text-align: center;
}

.opcoesPagamento .opcao{
    padding-top: 2vh;
    color: white;
    display: inline-block;
    margin-left: 1vh;
    margin-right: 1vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    height: 10vh;
    width: 20vh;
    transition: all .5s;
}

.opcoesPagamento .opcao:hover{
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    cursor: pointer;
}
.opcoesPagamento .opcao:hover p{
    color: rgba(255, 255, 255, 0.75);
}

.ativo{
    border-bottom: 1px solid rgba(255, 255, 255, 1) !important;
}
.ativo p{
    color: rgba(255, 255, 255, 1) !important;
}

.opcoesPagamento .opcao i::before{
    font-size: 5vh;
    color: #A7C957;
}
.opcoesPagamento .opcao p{
    margin: 0;
    margin-top: 2vh;
    font-size: 2vh;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);;
}
.opcoesPagamento .opcao img{
    height: 5vh;
    border-radius: 1vh;
}

/* Opção Deposito */
.conteudoPagamento{
    padding-top: 3vh;
    width: 70%;
    min-height: 40vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.dadoPagamento{
    margin-bottom: 2vh;
}
.dadoPagamento .bancoNome{
    text-align: center;
    margin-bottom: 3vh;
}
.dadoPagamento p, .dadoPagamento h3{
    color: white;
    line-height: 100%;
    margin: 0;
}
.dadoPagamento p{
    font-size: 2vh;
}
.dadoPagamento h3{
    font-size: 2.5vh;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5vh;
}

#picpay p{
    font-size: 6vh;
    color: white;
}




/* Botão */
.botaoPagamento{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}
.botaoPagamentoConfirmar{
    text-transform: uppercase;
    padding: 1vh;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    border: 0px;
    color: black;
    margin: 0;
    background: #2ebb62;
    transition: all .5s;
    height: 8vh;
    width: 35vh;
    border-radius: 1vh;
}

.botaoPagamentoConfirmar:hover{
    cursor: pointer;
    color: white;
}

.botaoPagamentoConfirmar:active {
    border-style: none;
    outline: none;
}

.botaoPagamentoConfirmar:focus{
    outline: none;
}

.botaoPagamentoConfirmar span{
    font-size: 2vh;
    line-height: 100%;
}


#picpay{
    display: none;
}



/* Mobile */

@media (max-width: 1650px) {}

@media (max-width: 1080px) {
    .pagamentosBloco{
        height: 100vh;
        width: 100%;
        margin-top: 0;
    }
    .botaoPagamentoConfirmar{
        width: 90%;
    }
}

@media (max-height: 1600px) {}