@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Work+Sans:300,400,700,900");
@font-face {
    font-family: Burbank Big Condensed Bold;
    src: url(../font/burbank-big-condensed-bold.otf);
}

html{
    height: 100%;
}

* {
    font-size: 0;
    outline-width: 0;
    font-family: 'Montserrat';
}

body {
    margin: 0;
    font-size: 100%;
    line-height: 100%;
    /* min-height: 100%; */
    /* background-color: #2a2a2a; */
    background-color: #0e0e10;
    position: relative;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}



/* Main */

main {
    z-index: 2;
}

.pagamentosBloco{
    height: 80vh;
    width: 90vh;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 1vh;
}
.fundoPagamento{
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 0 3000px rgba(40, 43, 48, 0.8);
}

/* Topo Pagamento */
.topoPagamento{
    padding-top: 2vh;
    color: white;
    text-align: center;
}
.topoPagamento .cart::before{
    font-size: 4vh;
    color: #A7C957;
}

.topoPagamento .nomeInscricao{
    padding-top: 1vh;
}

.topoPagamento .textoPrincipal{
    display: inline-block;
    margin-right: 1vh;
}
.topoPagamento .textoPrincipal h2{
    font-size: 1.5vh;
    font-weight: bold;
    margin: 1vh;
}

.topoPagamento .inscricao{
    display: inline-block;
}
.topoPagamento .inscricao{
    color: #A7C957;
}
.topoPagamento .inscricao p, .topoPagamento .inscricao i::before, .topoPagamento .inscricao span{
    display: inline-block;
    font-size: 1.5vh;
    font-weight: bold;
    margin: 0;
    margin-right: 0.5vh;
}

/* Conteudo Pagamento */
.conteudoPagamento{
    margin-top: 1%;
    width: 85%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}

.opcoesPagamento{
    width: 100%;
    height: 10vh;
    text-align: center;
}

.opcoesPagamento .opcao{
    padding-top: 2vh;
    color: white;
    display: inline-block;
    margin-left: 1vh;
    margin-right: 1vh;
    border: 1px solid rgba(255, 255, 255, 0.15);
    height: 10vh;
    width: 20vh;
    transition: all .5s;
}
.opcoesPagamento .opcao:hover{
    border: 1px solid rgba(255, 255, 255, 0.75);
    cursor: pointer;
}

.opcoesPagamento .opcao i::before{
    font-size: 5vh;
    color: #A7C957;
}
.opcoesPagamento .opcao p{
    margin: 0;
    margin-top: 2vh;
    font-size: 2vh;
    text-transform: uppercase;
}
.opcoesPagamento .opcao img{
    width: 5vh;
}







/* Mobile */

@media (max-width: 1650px) {}

@media (max-width: 1080px) {
}

@media (max-height: 1600px) {}