@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Work+Sans:300,400,700,900");
@font-face {
    font-family: Burbank Big Condensed Bold;
    src: url(../font/burbank-big-condensed-bold.otf);
}

* {
    font-size: 0;
    outline-width: 0;
    font-family: 'Montserrat';
}

body {
    margin: 0;
    font-size: 100%;
    line-height: 100%;
    min-height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    /* background-color: #2a2a2a; */
    background-color: #18181b;
    position: relative;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
}

/* Optional: show position indicator in red */

::-webkit-scrollbar-thumb {
    background: white;
}




#csgo {
    background: url(../img/csgo.jpg) no-repeat center / cover;
}

#fortnite {
    background: url(../img/fortnite.jpg) no-repeat center / cover;
}

#freefire {
    background: url(../img/freefire.jpg) no-repeat center / cover;
}

#fifa {
    background: url(../img/fifa.jpg) no-repeat center / cover;
}

#lol {
    background: url(../img/lol.jpg) no-repeat center / cover;
}

#rocketleague {
    background: url(../img/rocketleague.jpg) no-repeat center / cover;
}



/* Main */
main {
    margin-top: 5vh;
    z-index: 2;
}

/* Fundo Perfil */
.fundoPerfilDiv {
    z-index: 2;
    width: 100vw;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/rocketleague.jpg) no-repeat center / cover;
    position: relative;
}

/* Icone Config */
.configIcon{
    position: absolute;
    top: 2vh;
    right: 2vh;
    background: rgba(24, 24, 27, 0.75);
    width: 6vh;
    height: 6vh;
}

.iconePerfil {
    width: auto;
    height: 4vh;
    position: absolute;
    top: 1.1vh;
    left: 1vh;
}
.iconePerfil:hover {
    cursor: pointer;
}
.iconePerfil::before {
    font-size: 4vh;
    color: white;
}

/* Imagem Perfil */
.fundoPerfilImgDiv{
    position: absolute;
    bottom: -3vh;
    left: 44.5vw;
}

.fundoPerfilImg{
    width: 10vw;
}

.fundoPerfilImg img{
    width: 10vw;
    border-radius: 50%;
    border: 0.5vw solid white;
    background: #18181b;
}

/* Conteudo Perfil */
.conteudoPerfil{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 5vh;
    background: #18181b;
    height: 50vh;
}

.nomePerfil{
    margin: 0;
    font-size: 6vh;
    color: white;
    text-align: center;
    line-height: 100%;
}

.jogosPerfil{
    margin-top: 10vh;
    text-align: center;
}

.iconeJogoPerfil{
    width: 5vh;
    display: inline-block;
}

.jogoPerfil{
    display: inline-block;
    font-size: 4vh;
    color: white;
    margin: 0;
    line-height: 5vh;
    vertical-align: top;
    margin-left: 1vh;
}

.jogoCampoPerfil{
    display: inline-block;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-bottom: 3vh;
}

/* Mobile */
@media (max-width: 1650px) {}

@media (max-width: 1080px) {
    #fifa {
        background: url(../img/fifamobile.jpg) no-repeat center / cover;
    }
}

@media (max-height: 1600px) {}