@font-face {
    font-family: Burbank Big Condensed Bold;
    src: url(../font/burbank-big-condensed-bold.otf);
  }

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100%;
    line-height: 100%;
    overflow: hidden;
}

/* Header */
header{
    top: 0;
    height: 8%;
    width: 100%;
    background: black;
    position: fixed;
}

.redesSociais{
    position: absolute;
    top: 20%;
    right: 1%;
    opacity: 75%;
}
.iconesRedesSociais{
    width: auto;
    height: 45px;
}
.iconesRedesSociais::before{
    font-size: 48px;
    color: white;
}
.redesSociais .fa-discord::before{
    color: #7289dc;
}
.redesSociais .fa-twitch::before{
    color:#9146ff;
}
/* .redesSociais .fa-instagram-square::before{
    color: #44274c;
} */
.iconesRedesSociais:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.titulo{
    margin: 0;
    margin-top: 1%;
    font-family: 'Burbank Big Condensed Bold';
    line-height: 100%;
    color: white;
    font-size: 48px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    z-index: 999;
    transition: all 1s;
}

@keyframes pisca {
    50% {
        opacity: 0;
      }
}
#pisca {
    animation: pisca 1s step-start infinite;
}

/* Main */
main{
    position: fixed;
    margin-top: 0;
    top: 8%;
    height: 92%;
    width: 100%;
    background-color: black;
    text-align: center;
}

.bloco{
    display: inline-block;
    width: 33%;
    height: 49.3%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.33%;
    border-radius: 3px;
    transition: all 1s;
}
.bloco:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.bloco:hover .textJogo{
    transform: scale(1.2);
}
.textJogo{
    transition: all 1s;
    width: auto; 
    height: 200px;
}
#csgo{
    background: url(../img/csgo.jpg) no-repeat center / cover;
}
#fortnite{
    background: url(../img/fortnite.jpg) no-repeat center / cover;
}
#freefire{
    background: url(../img/freefire.jpg) no-repeat center / cover;
}
#fifa{
    background: url(../img/fifa.jpg) no-repeat center / cover;
}
#lol{
    background: url(../img/lol.jpg) no-repeat center / cover;
}
#rocketleague{
    background: url(../img/rocketleague.png) no-repeat center / cover;
}

.opaco{
    opacity: 25%;
}



/* Mobile */
@media (max-width: 1650px ){
    .textJogo{
        height: 110px;
        width: auto;
        text-align: right;
    } 
}
@media (max-width: 1080px ){
    .redesSociais{
        display: none;
    }
    .titulo{
        margin-top: 2%;
        font-size: 12vw;
        z-index: 9999;
    }

    #fifa{
        background: url(../img/fifamobile.jpg) no-repeat center / cover;
    }
}
@media (max-height: 1600px){
    .titulo{
        margin-top: 1%;
        font-size: 48px;
    }
}