body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100%;
    line-height: 1.3em;
}

header{
    top: 0;
    height: 8%;
    width: 100%;
    background: black;
    position: fixed;
}

main{
    margin-top: 10%;
    margin-left: 27.5%;
    width: 45%;
    margin-right: 27.5%;
    border-radius: 15px;
}

main .bloco .iconeJogo{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin: 1.71%;
    margin-bottom: 2%;
    margin-top: 2%;
    border: solid 1px white;
    padding: 3%;
    background: black;
}