.main-default{
    min-height: $main-size;
    width: 100%;
    min-height: 100%;
    box-shadow: 0 0 1rem #09090b;

    .main-default-content{
        padding: 2.5%;
        .main-page-banner{
            background: url("./utility/img/fortnitebanner.png") no-repeat center / cover;
            height: 25rem;
            margin-bottom: 2.5%;
        }
        .main-default-block{
            width: $page-width-default + 0.5;
            min-height: 20rem;
            margin: 0 auto;
        }
    }
}