@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Work+Sans:300,400,700,900");
@font-face {
    font-family: Burbank Big Condensed Bold;
    src: url(../font/burbank-big-condensed-bold.otf);
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat';
    min-height: 100%;
    outline-width: 0;
    margin: 0;
    font-size: 100%;
    line-height: 100%;
    position: relative;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    padding: 0;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
